<% if @review.errors.any? %>
<h2> Error: </h2>
<% @review.errors.full_messages.each do |msg| %>
<%= msg %>
<%end%>
<%end%>

<%= form_for @review do |f|%>

<div class="form-text">Restaurant:</div><%= f.collection_select :restaurant_id, Restaurant.all, :id, :name,class: 'form-group form-control'%> <br>
<div class="form-text">Review:</div> <%= f.text_area :content,class: 'form-group form-control' %>
<%= f.submit class:"btn btn-primary btn-lg"%>
<% end %><br>
